#cellInput{
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    padding: 0px;
    border: 1px solid black;
    position: relative;
    z-index: 1;
}
.colorId{
    background-color: #bbbaba;
}
input{
    color: darkblue;
}
input:disabled{
    color: rgb(73, 73, 73);
}

.sudoku-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 11rem;
}
.App-header{
    border: 6px solid black;
    padding:5px;
}

.submit-btn{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    margin-top: 27rem;
    margin-right: 2rem;
}
table{
    border-collapse: collapse;
    border: 5px solid black;
}
td{
    padding: 0;
    color: aqua;
}
.bBorder{
    border-bottom: 2px solid black;
}
.rBorder{
    border-right: 2px solid black;
}
input::placeholder{
    font-size: 12px;
    justify-content: space-between;
}

@media only screen and (max-width: 768px){
    #cellInput{
        width: 30px;
        height: 30px;
        font-size: 15px;
    }
    .sudoku-container{
        display: flex;
        align-items:center;
        justify-content: space-between;
        margin-top: 0rem;
        margin-left: 1rem ;
        flex-direction: column;
    }
    .submit-btn{
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 0rem;
        margin-top: -5rem;
    }
}