.cellInput{
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    padding: 0px;
    border: 1px solid black;
    position: relative;
    z-index: 1;
}
.sudoku-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30rem;
    gap: 11rem;
}

.submit-btn{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    margin-top: 25rem;
}
table{
    border-collapse: collapse;
    border: 3px solid bisque;
}
td{
    padding: 0;
}
.bBorder{
    border-bottom: 2px solid black;
}
.rBorder{
    border-right: 2px solid black;
}
.sudoku-container{
    display: flex;
    align-items:center;
    justify-content: center;
}

.back-top1{
    position: absolute;
    top: 195px;
    height: 155px;
    width: 155px;
    background-color: bisque;
    z-index: 0;
    left: 533px;
}
.back-top2{
    position: absolute;
    top: 195px;
    height: 155px;
    width: 155px;
    background-color: bisque;
    z-index: 0;
    left: 848px;
}
.back-mid{
    position: absolute;
    top: 353px;
    height: 156px;
    width: 155px;
    background-color: bisque;
    z-index: 0;
    left: 691px;
}
.back-bottom1{
    position: absolute;
    top: 511px;
    height: 155px;
    width: 155px;
    background-color: bisque;
    z-index: 0;
    left: 533px;
}
.back-bottom2{
    position: absolute;
    top: 511px;
    height: 155px;
    width: 155px;
    background-color: bisque;
    z-index: 0;
    left: 848px;
}